@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&family=Sekuya&display=swap');

body {
  background-color: #FAF8F4;
  color: #241B14;
}

.headercontainer{
  display: flex;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  background-color: #241B14;
}
.headercontainer > div{
  display: flex;
  align-items: flex-start;
  gap: 50px;
  font-weight:  bold;
  margin-right: 50px;
}
.headercontainer > img{
  height: 70px;
  width: 70px;
  margin-left: 20px;
}
.headercontainer > div > a{
  color: #FAF8F4;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: larger;
  margin-top: 30px;
  text-decoration: none;
}
.headercontainer > div > a:hover{
  opacity: 0.5;
}

.title{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  font-family: "Merriweather", serif;
  gap: 20px;
  text-align: center;
  color: #241B14;
}

.title h1 {
  color: #241B14;
}

.title p {
  color: #6B5D4F;
  font-family: "Roboto", sans-serif;
}

.title h4 {
  color: #A9793F;
  font-family: "Oswald", sans-serif;
}

.recommendation{
  display: flex;
  justify-content: space-around;
  background-color: #F1EBE0;
}

.recommendation > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #241B14;
}

.recommendation h4 {
  font-family: "Roboto", sans-serif;
}

.recommendation p {
  color: #8A6130;
  font-weight: bold;
}

.itemcontainer{
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.itemimage{
  width: 100px;
}